@charset "utf-8";
*{margin:0px;padding:0px;text-decoration: none;list-style: none;outline: none;}
/*===start body===*/
body{background-image:linear-gradient(45deg,rgb(184, 78, 255) ,#111,rgb(36, 175, 145));font-family: 'consolas';height: 100vh;width: 100vw;}
/*===end body===*/
/*===start section===*/
body form{min-width: 400px;min-height: 70px;position: fixed;transform: translate(-50%,-50%);top:50%;left: 50%;background-color: #fff;display: flex;justify-content: center;padding: 20px;align-items: center;}

body form input{width: 90%; height: 50px;display:flex;justify-content: center;border: none;border-bottom: 3px solid #d6d6d6;font-size: 18px;}

body form label{position: absolute;left: 40px;bottom: 46px;transition: transform 0.5s;pointer-events: none;color:#8a8a8a;}

body form .border{position: absolute; width: 360px;height: 3px;bottom: 28px;left: 40px; background-color: deepskyblue;transition:background-color 1s;transform: scaleX(0);transition-timing-function: ease;}
body form > input:focus + label , body form > input:valid + label{transform:translate(-1px,-25px) scale(0.95);transition:transform 0.5s;color: #00b4ff;text-shadow: -1px 1px black;}
body form > input:focus + label + .border , body form > input:valid + label + .border{transform: scaleY(1);transition:transform 1s;}
